.root {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    aspect-ratio: 1;
    border: 2px solid var(--color-blue);
    border-radius: 50%;
    background-color: transparent;
    transition: background-color var(--transition-duration),
                border-color var(--transition-duration);
}

.input:checked + .box {
    background-color: var(--color-purple-dark);
    border-color: var(--color-purple-dark);
}

@media (hover: hover) {
    .box:hover {
        border-color: var(--color-blue-dark);
    }
}

@media (hover: none) {
    .box:active {
        border-color: var(--color-blue-dark);
    }
}
