.container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.list {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 12px;
    list-style: none;
    padding-bottom: 20px;
}